In [10]:
import geopandas as gpd
import country_converter as coco

In [11]:
# Load a low-resolution world shapefile
world = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))

# Set France to iso_a3 'FRA'
world.loc[world['name'] == 'France', 'iso_a3'] = 'FRA'

# Set Norway to iso_a3 'NOR'
world.loc[world['name'] == 'Norway', 'iso_a3'] = 'NOR'

# Set Kuwait to iso_a3 'KWT'
world.loc[world['name'] == 'Kuwait', 'iso_a3'] = 'KWT'

# Set N. Cyprus to iso_a3 'CYP'
world.loc[world['name'] == 'N. Cyprus', 'iso_a3'] = 'CYP'

# Set Somaliland to iso_a3 'SOM'
world.loc[world['name'] == 'Somaliland', 'iso_a3'] = 'SOM'

# Set Kosovo to iso_a3 'RKS'
world.loc[world['name'] == 'Kosovo', 'iso_a3'] = 'XKX'

# Get iso_a2 from iso_a3
world['iso_a2'] = coco.convert(names=world['iso_a3'], to='ISO2')

# Remove Antarctica
world = world[(world['name'] != 'Antarctica')]
world

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,iso_a2
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",FJ
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",TZ
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",EH
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",CA
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",US
...,...,...,...,...,...,...,...
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",RS
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",ME
174,1895250,Europe,Kosovo,XKX,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",XK
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",TT
176,13026129,Africa,S. Sudan,SSD,20880.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",SS

In [12]:
# Select relevant columns: ISO_A2 and geometry
countries = world[["iso_a2", "geometry", "name"]]

# Filter out entries without ISO_A2 codes (if any)
countries = countries[countries["iso_a2"] != "-99"]

# Rename name to full_name
countries = countries.rename(columns={"name": "full_name"})

# Rename "iso_a2" to "name"
countries = countries.rename(columns={"iso_a2": "name"})

# Save to GeoJSON
output_path = "output/world_map.json"
countries.to_file(output_path, driver="GeoJSON")

In [13]:
world

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,iso_a2
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",FJ
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",TZ
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",EH
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",CA
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",US
...,...,...,...,...,...,...,...
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",RS
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",ME
174,1895250,Europe,Kosovo,XKX,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",XK
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",TT
176,13026129,Africa,S. Sudan,SSD,20880.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",SS